<div class="bg-body-tertiary p-5 rounded">
  <h1>Sample App</h1>
  <p class="lead">This is the home page for the <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a> sample application.</p>
  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>
