<% provide(:title, 'Sign up') %>
<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <h1>Sign up</h1>
    <p>This will be a signup page for new users.</p>
    <%= render 'form', button_text: 'Create my account', model: @user %>
  </div>
</div>
