<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-body-secondary">The <a href="https://railstutorial.jp/" class="text-body-secondary">Ruby on Rails Tutorial</a> by <a href="https://www.michaelhartl.com/" class="text-body-secondary">Michael Hartl</a></p>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Abount</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">News</a></li>
  </ul>
</footer>
